[user]
	name = Alexander Legotin
	email = mrproz@yandex.ru
	signingKey = B1D5D0A5FC4F4891091E47E639BC1403DA040B14
[http]
	postBuffer = 524288000
[commit]
	gpgsign = true
	signingkey = 39BC1403DA040B14
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[tag]
	forceSignAnnotated = true
